<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="apple-touch-icon" type="image/png"
        href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />

    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="shortcut-icon" type="image/x-icon"
        href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

    <link rel="mask-icon" type="image/x-icon"
        href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg"
        color="#111" />

    <title>Messaging App</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

    <link rel="canonical" href="https://codepen.io/ScottWindon/pen/yLVgZjp">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css'>
    
    <style>
        .scrollbar-w-2::-webkit-scrollbar {
            width: 0.25rem;
            height: 0.25rem;
        }

        .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
            --bg-opacity: 1;
            background-color: #f7fafc;
            background-color: rgba(247, 250, 252, var(--bg-opacity));
        }

        .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
            --bg-opacity: 1;
            background-color: #edf2f7;
            background-color: rgba(237, 242, 247, var(--bg-opacity));
        }

        .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
            border-radius: 0.25rem;
        }

        #landing {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
        }
    </style>

    <script>
        window.console = window.console || function (t) {};
    </script>

</head>

<body translate="no">
    <div id="landing">
        <input type="text" id="username" placeholder="Username" disabled = "true">
        <button id="join-btn" hidden = "true">JOIN</button>
    </div>

    <div x-data="chatApp()"  style="display:none;" id = "chat">
        <div class="flex-1 p-2 sm:p-6 justify-between flex flex-col h-screen">
            <div id="messages"
                class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
                <template x-for="(message, key) in messages">
                    <div>
                        <div class="flex items-end" :class="message.from == 'bot' ? '' : 'justify-end'">
                            <div class="flex flex-col space-y-2 text-md leading-tight max-w-lg mx-2"
                                :class="message.from == 'bot' ? 'order-2 items-start' : 'order-1 items-end'">
                                <div>
                                    <span class="px-4 py-3 rounded-xl inline-block"
                                        :class="message.from == 'bot' ? 'rounded-bl-none bg-gray-100 text-gray-600' : 'rounded-br-none bg-blue-500 text-white'"
                                        x-html="message.text"></span>
                                </div>
                            </div>
                            <img :src="message.from == 'bot' ? 'https://cdn.icon-icons.com/icons2/1371/PNG/512/robot02_90810.png' : 'https://i.pravatar.cc/100?img=7'"
                                alt="" class="w-6 h-6 rounded-full" :class="message.from == 'bot' ? 'order-1' : 'order-2'">
                        </div>
                    </div>
                </template>
                <div x-show="botTyping" style="display: none;">
                    <div class="flex items-end">
                        <div class="flex flex-col space-y-2 text-md leading-tight mx-2 order-2 items-start">
                            <div><img src="https://support.signal.org/hc/article_attachments/360016877511/typing-animation-3x.gif" alt="..." class="w-16 ml-6"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
                <div class="relative flex">
                    <input type="text" placeholder="Say something..." autocomplete="off" autofocus="true"
                        @keydown.enter="sendMessage($event.target)" class="text-md w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-5 pr-16 bg-gray-100 border-2 border-gray-200 focus:border-blue-500 rounded-full py-2"
                        x-ref="input" />
                    <div class="absolute right-2 items-center inset-y-0 hidden sm:flex">
                        <button type="button"
                            class="inline-flex items-center justify-center rounded-full h-8 w-8 transition duration-200 ease-in-out text-white bg-blue-500 hover:bg-blue-600 focus:outline-none"
                            @click.prevent="sendMessage($refs.input)">
                            <i class="mdi mdi-arrow-right text-xl leading-none"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.0/alpine.js'></script>
    <script>
        
        const socket = io({autoConnect: true});

        let isDataLoaded = false;
        socket.emit("load_data");

        socket.on("dataloaded", function (isDataLoaded) {
            if (isDataLoaded) {
                document.getElementById("username").disabled = false;
                document.getElementById("join-btn").hidden = false;
            }
        });

        function join_chat(){
            let username = document.getElementById("username").value;
            socket.emit("user_join", username)
            document.getElementById("chat").style.display = "block";
            document.getElementById("landing").style.display = "none";
        }

        document.getElementById("join-btn").addEventListener("click", function(){
            join_chat()
        })

        document.getElementById("username").addEventListener("keyup", function (event) {
            if (event.key === "Enter") {
                join_chat();
            }
        });

        function chatApp() {
            const app = {
                messages: [],
                sendMessage: function (input, respond) {
                    if (input.value.trim()) {
                        // Add user message
                        this.messages.push({
                            from: 'user',
                            text: input.value.trim()
                        });
                        this.scrollChat();                      

                        socket.emit("new_message", input.value.trim().toString());                        
                        input.value = '';

                        const self = this
                        socket.once("chat", function (data) {
                            // Add the bot's response to the chat
                            self.messages.push({
                                from: 'bot',
                                text: data["message"]
                            });

                            // Scroll the chat to the latest message
                            self.scrollChat();
                            input.value = '';
                        });
                    }
                },

                scrollChat: function () {
                    const messagesContainer = document.getElementById("messages");
                    messagesContainer.scrollTop = messagesContainer.scrollHeight - messagesContainer.clientHeight;
                    setTimeout(() => {
                        messagesContainer.scrollTop = messagesContainer.scrollHeight - messagesContainer.clientHeight;
                    }, 100);
                }
            };

            return app;
}
    </script>
</body>
</html>